<div id="header">
  <h1>Welcome to Our Website</h1>
</div>
<div id="nav">
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Contact</a>
</div>
<div id="graphic"></div>
<div id="content">
  <h2>What We Offer</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam fringilla augue vel ullamcorper. In rhoncus vestibulum arcu, ac finibus tellus bibendum vel. Quisque vel dui ut velit facilisis efficitur sit amet eu elit. Duis consequat lobortis ipsum, vitae vestibulum nibh tincidunt in. Suspendisse vitae ex nec lorem eleifend pretium.</p>
</div>
<div id="footer">
  <p>Copyright © 2023</p>
</div>
